{% extends 'layout.html' %}

{% block body %}
<style>
body {background-color: #800000; 
    font-family: "Comic Sans MS";
    color: antiquewhite}


</style>
<h1>My name is {{name}}</h1>
<p>my name is {{name}}. I have a rich and varied selection of interests and hobbies, 
    which makes me a very layered and well-rounded person.
    
</p>

<p>follow me on <a href="https://twitter.com/RyanJamesLift">Twitter</a></p>

<p>Have a look at my much better <a href="https://smith-r.github.io/Ryan-github/about.html">website</a></p>

<img src = "https://images-na.ssl-images-amazon.com/images/I/61ovu1Es0eL._AC_SX425_.jpg" alt = "Me">

{% endblock %}
